@import '~tailwindcss/base';
@import '~tailwindcss/components';
@import '~tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap');

.font-opensans{
  font-family: 'Open Sans', sans-serif;
}

.text-blue{
    color: #1335B9;
}

.bg-blue{
    color: #1335B9;
}

.accordion {
    //background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    //width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    //background-color: #ccc;
  }

  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }

  .h-128{
    height: 575px;
    width: 775px;
  }

